<h2>Section 1: Informations Personnelles</h2>
<form>
    <h2>Section 1: Informations Personnelles</h2>
<form>
  <div>
    <label for="nom">Nom :</label>
      <input type="text" id="nom" formControlName="nom" placeholder="Votre nom">
  </div>

  <div>
    <label for="prenom">Prénom(s) :</label>
     <input type="text" id="prenom" formControlName="prenom" placeholder="Vos prénoms">

  </div>

  <div>
    <label>Sexe :</label>
    <label><input type="radio" name="sexe" value="M"> Masculin</label>
    <label><input type="radio" name="sexe" value="F"> Féminin</label>
    <label><input type="radio" name="sexe" value="Non-binaire"> Non-binaire</label>
  </div>

  <div>
    <label for="dateNaissance">Date de naissance :</label>
    <input type="date" id="dateNaissance" name="dateNaissance" required>
  </div>

  <div>
    <label for="nationalite">Nationalité :</label>
    <select id="nationalite" formControlName="nationalite">
      <option value="">-- Sélectionnez --</option>
      <option value="cameroon">Cameroun</option>
      <option value="france">France</option>
      <option value="Burkinabe">Burkinabé</option>
      <option value="Maii">Mali</option>
    </select>
  </div>

  <button type="submit" [disabled]="personalInfoForm.invalid">Suivant</button>
</form>
  </form>